In [10]:
import pandas as pd
pd.set_option('display.max_columns', 48)

In [147]:
d106 = pd.read_excel('Data/demographic/age_gender106.xlsx', header=1)

In [148]:
d106.shape

(1407, 124)

In [149]:
col = d106.columns.tolist()

In [150]:
co = []
for c in col:
    if '合計' in c or '區' in c or '性別' in c or '總' in c:
        co.append(c)

In [151]:
co

['區 域 別',
 '性別 ',
 '總計',
 '合計_0~4歲',
 '合計_5~9歲',
 '合計_10~14歲',
 '合計_15~19歲',
 '合計_20~24歲',
 '合計_25~29歲',
 '合計_30~34歲',
 '合計_35~39歲',
 '合計_40~44歲',
 '合計_45~49歲',
 '合計_50~54歲',
 '合計_55~59歲',
 '合計_60~64歲',
 '合計_65~69歲',
 '合計_70~74歲',
 '合計_75~79歲',
 '合計_80~84歲',
 '合計_85~89歲',
 '合計_90~94歲',
 '合計_95~99歲']

In [152]:
data106 = d106.reindex(columns=co).rename(columns={'區 域 別': 'region', '性別 ': 'gender', '總計':'total'})

In [153]:
gender_dict = {'計':'sum', '男':'M', '女':'F'}

In [154]:
data106.gender = data106.gender.map(gender_dict)

In [155]:
data106.head(20)

,region,gender,total,合計_0~4歲,合計_5~9歲,合計_10~14歲,合計_15~19歲,合計_20~24歲,合計_25~29歲,合計_30~34歲,合計_35~39歲,合計_40~44歲,合計_45~49歲,合計_50~54歲,合計_55~59歲,合計_60~64歲,合計_65~69歲,合計_70~74歲,合計_75~79歲,合計_80~84歲,合計_85~89歲,合計_90~94歲,合計_95~99歲
0,總 計,sum,2683257,142334,115890,111648,130363,149409,155571,188340,239048,211733,202735,201664,201288,194058,163695,93187,75392,50172,35046,16454,4465
1,總 計,M,1281917,73288,60065,58421,67866,76821,78398,88852,112036,98779,93412,93512,93459,90040,75160,42102,32045,20600,16509,7968,2205
2,總 計,F,1401340,69046,55825,53227,62497,72588,77173,99488,127012,112954,109323,108152,107829,104018,88535,51085,43347,29572,18537,8486,2260
3,松山區,sum,206988,10332,10267,10250,10208,10894,10795,12728,16870,16556,15995,15266,14949,14774,13485,8268,6217,4112,2968,1515,445
4,松山區,M,97096,5211,5293,5392,5302,5663,5321,5907,7657,7218,7156,6905,6769,6703,6070,3767,2741,1666,1387,703,218
5,松山區,F,109892,5121,4974,4858,4906,5231,5474,6821,9213,9338,8839,8361,8180,8071,7415,4501,3476,2446,1581,812,227
6,莊敬里,sum,5530,285,178,201,273,299,293,342,534,450,443,399,372,420,364,282,154,106,91,38,5
7,莊敬里,M,2672,150,93,107,127,149,145,165,254,217,217,190,191,203,153,121,76,43,48,19,3
8,莊敬里,F,2858,135,85,94,146,150,148,177,280,233,226,209,181,217,211,161,78,63,43,19,2
9,東榮里,sum,8291,364,438,516,433,454,386,456,591,639,612,575,589,613,618,380,271,172,111,54,19
10,東榮里,M,3825,178,233,275,223,229,179,211,263,282,248,262,256,273,272,179,123,64,49,19,7
11,東榮里,F,4466,186,205,241,210,225,207,245,328,357,364,313,333,340,346,201,148,108,62,35,12
12,三民里,sum,7100,347,307,258,334,345,362,392,593,534,603,550,482,522,473,374,265,160,102,68,21
13,三民里,M,3285,189,159,145,159,181,172,164,277,239,271,253,204,236,188,163,122,64,47,38,12
14,三民里,F,3815,158,148,113,175,164,190,228,316,295,332,297,278,286,285,211,143,96,55,30,9
15,新益里,sum,4807,230,159,185,203,247,260,360,444,404,365,346,317,374,323,229,166,85,65,35,9
16,新益里,M,2288,123,87,101,106,137,125,166,205,204,165,151,148,174,133,109,74,38,24,17,1
17,新益里,F,2519,107,72,84,97,110,135,194,239,200,200,195,169,200,190,120,92,47,41,18,8
18,富錦里,sum,5422,287,255,184,257,276,322,364,474,429,366,379,392,411,407,244,173,106,57,34,5
19,富錦里,M,2496,129,135,106,123,141,162,169,225,186,161,170,162,173,184,111,76,33,29,18,3

In [127]:
data106.to_csv('Data/demographic/age_gender17.csv', index=True)

In [156]:
data106_piv = data106.pivot_table(index='region', columns='gender')

In [157]:
data106_piv.columns = data106_piv.columns.to_series().str.join('_')

In [158]:
data106_piv.columns = data106_piv.columns.str.replace('合計_', '')

In [159]:
data106_piv.columns = 'y17_' + data106_piv.columns

In [160]:
data106_piv.columns = data106_piv.columns.str.replace('歲', '')

In [161]:
data106_piv.columns = data106_piv.columns.str.replace('~', '')

In [164]:
data106_piv.head()

,y17_total_F,y17_total_M,y17_total_sum,y17_04_F,y17_04_M,y17_04_sum,y17_1014_F,y17_1014_M,y17_1014_sum,y17_1519_F,y17_1519_M,y17_1519_sum,y17_2024_F,y17_2024_M,y17_2024_sum,y17_2529_F,y17_2529_M,y17_2529_sum,y17_3034_F,y17_3034_M,y17_3034_sum,y17_3539_F,y17_3539_M,y17_3539_sum,...,y17_6064_F,y17_6064_M,y17_6064_sum,y17_6569_F,y17_6569_M,y17_6569_sum,y17_7074_F,y17_7074_M,y17_7074_sum,y17_7579_F,y17_7579_M,y17_7579_sum,y17_8084_F,y17_8084_M,y17_8084_sum,y17_8589_F,y17_8589_M,y17_8589_sum,y17_9094_F,y17_9094_M,y17_9094_sum,y17_9599_F,y17_9599_M,y17_9599_sum
region,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
一德里,3983.0,3855.0,7838.0,227.0,215.0,442.0,134.0,150.0,284.0,198.0,223.0,421.0,227.0,235.0,462.0,271,275,546,301.0,303.0,604.0,418.0,373.0,791.0,...,303.0,241.0,544.0,166.0,183.0,349.0,113.0,99.0,212.0,98.0,85.0,183.0,73.0,40.0,113.0,39.0,41.0,80.0,20,8,28,2,4,6
三張里,4782.0,4422.0,9204.0,197.0,233.0,430.0,130.0,163.0,293.0,207.0,208.0,415.0,247.0,270.0,517.0,266,307,573,336.0,310.0,646.0,408.0,340.0,748.0,...,360.0,311.0,671.0,345.0,275.0,620.0,234.0,184.0,418.0,183.0,107.0,290.0,123.0,89.0,212.0,73.0,71.0,144.0,34,36,70,13,12,25
三愛里,4825.0,4119.0,8944.0,203.0,233.0,436.0,254.0,271.0,525.0,226.0,247.0,473.0,207.0,250.0,457.0,246,182,428,238.0,227.0,465.0,400.0,281.0,681.0,...,333.0,258.0,591.0,314.0,248.0,562.0,210.0,175.0,385.0,166.0,134.0,300.0,143.0,89.0,232.0,80.0,69.0,149.0,44,37,81,7,10,17
三民里,3815.0,3285.0,7100.0,158.0,189.0,347.0,113.0,145.0,258.0,175.0,159.0,334.0,164.0,181.0,345.0,190,172,362,228.0,164.0,392.0,316.0,277.0,593.0,...,286.0,236.0,522.0,285.0,188.0,473.0,211.0,163.0,374.0,143.0,122.0,265.0,96.0,64.0,160.0,55.0,47.0,102.0,30,38,68,9,12,21
三犁里,2859.0,2547.0,5406.0,123.0,124.0,247.0,95.0,97.0,192.0,108.0,117.0,225.0,168.0,137.0,305.0,167,159,326,182.0,164.0,346.0,219.0,210.0,429.0,...,249.0,199.0,448.0,223.0,180.0,403.0,123.0,103.0,226.0,92.0,86.0,178.0,68.0,31.0,99.0,46.0,39.0,85.0,18,22,40,6,5,11

In [165]:
data106_piv.to_csv('Data/demographic/age_gender17.csv', index=True)